DOCKER_DOMAIN_NAME_EXTENSION=docker

FIREFLY_APP_KEY=
FIREFLY_DB_HOST=
FIREFLY_DB_PORT=3306
FIREFLY_DB_DATABASE=firefly
FIREFLY_DB_USERNAME=firefly
FIREFLY_DB_PASSWORD=
FIREFLY_DB_CONNECTION=mysql

UNIFI_PUID=
UNIFI_GUID=
