DOCKER_DOMAIN_NAME_EXTENSION=docker

TRAEFIK_USER=
TRAEFIK_PASSWORD=

FIREFLY_APP_KEY=
FIREFLY_DB_HOST=
FIREFLY_DB_PORT=3306
FIREFLY_DB_DATABASE=firefly
FIREFLY_DB_USERNAME=firefly
FIREFLY_DB_PASSWORD=
FIREFLY_DB_CONNECTION=mysql

UNIFI_PUID=
UNIFI_GUID=

WIREGUARD_DOMAIN=
WIREGUARD_PUID=
WIREGUARD_GUID=
WIREGUARD_PEERS=
WIREGUARD_INTERNAL_SUBNET=
WIREGUARD_TIMEZONE=
WIREGUARD_SERVERPORT=

PLEX_CLAIM=
PLEX_PUID=
PLEX_GUID=
PLEX_TIMEZONE=
