# Portainer certs
[[tls.certificates]]
  certFile = "/certs/portainer.DOCKER_DOMAIN_NAME_EXTENSION.crt"
  keyFile = "/certs/portainer.DOCKER_DOMAIN_NAME_EXTENSION.key"

# Traefik certs
[[tls.certificates]]
  certFile = "/certs/traefik.DOCKER_DOMAIN_NAME_EXTENSION.crt"
  keyFile = "/certs/traefik.DOCKER_DOMAIN_NAME_EXTENSION.key"

# Pi-Hole certs
# [[tls.certificates]]
#   certFile = "/certs/pihole.DOCKER_DOMAIN_NAME_EXTENSION.crt"
#   keyFile = "/certs/pihole.DOCKER_DOMAIN_NAME_EXTENSION.key"
